@use '../../scss/helpers' as *;
@use '../../scss/auxiliary' as *;

.root {
	padding-top: rem(60);
	padding-bottom: rem(100);

	max-width: rem(500);
	border-radius: rem(30);
	padding: rem(40);
	background-color: #fff;
	position: relative;

	align-self: center;

	&:before,
	&:after {
		content: '';
		display: block;
		height: 50px;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	&:before {
		width: 95%;
		bottom: -10px;
		background-color: rgba(255, 255, 255, 0.8);
		z-index: 0;
	}

	&:after {
		width: 90%;
		bottom: -20px;
		background-color: rgba(255, 255, 255, 0.3);
		z-index: 1;
	}
}
