@use '../../scss/helpers' as *;
@use '../../scss/auxiliary' as *;

.root {
	padding-top: rem(100);
	padding-bottom: rem(100);
	color: #fff;
}

.img {
	@include flex-center;

	width: rem(100);
	height: rem(100);
	border-radius: 50%;
	background-color: #fff;

	margin-bottom: rem(20);

	color: #000;
	font-size: rem(30);
	font-weight: 700;
}

.list {
	display: grid;
	gap: rem(20);
}
.listItem {
	font-size: rem(30);

	span {
		font-weight: 700;
	}
}
