@use '../../scss/helpers' as *;
@use '../../scss/auxiliary' as *;

.root {
	max-width: rem(500);
	margin-inline: auto;

	display: flex;
	flex-direction: column;
	gap: rem(20);
}
.item {
	text-align: center;
}
.button {
	display: inline-block;
	text-align: center;
	font-size: adaptiveSize(24, 18, 1024, 390);

	width: 100%;

	background-color: rgb(67, 97, 238);
	padding: rem(10) rem(16);
	border-radius: rem(4);

	color: #fff;
	&[href='/'],
	&:disabled {
		background-color: lightgrey;
	}
}
